<div class="toolbar my-side row mx-0">

  <!-- <div class="px-5 mt-2 col-2">
    <img src="/assets/pictures/background.png"
         class="img-fluid logo"
         alt="Responsive image">
  </div> -->

  <!-- <div class="px-5 mt-2 col-10">
    <img src="/assets/pictures/lifeline.png"
         class="img-fluid logoline float-right"
         alt="Responsive image">
  </div> -->


</div>
<div class="container-fluid content-data p-0">
  <p-toast></p-toast>
  <loading></loading>
  <breadcrumb></breadcrumb>
  <router-outlet></router-outlet>
</div>
